general:
    daemonize: False
    workers_directory: /usr/lib/adisconcurrent-workers

log:
    debug: False

    main_log: /var/log/adisconcurrent/main.log
    workers_log: /var/log/adisconcurrent/workers.log

    logs_directory: /var/log/adisconcurrent/

daemon:
    pid_file: /var/run/adisconcurrent.pid

rabbitmq:
    host: 127.0.0.1
    port: 5672
    vhost: /
    user: adrian
    passwd: gwh28

tasks:
    delay: 0.1