general:
    daemonize: False
    workers_directory: /usr/lib/adisconcurrent-workers

log:
    debug: False
    logs_directory: /var/log/adisconcurrent/

daemon:
    pid_file: /var/run/adisconcurrent.pid

uwsgi:
    ini_directory: /etc/adisconcurrent/uwsgi
    uwsgi_executable_path: /usr/local/bin/uwsgi

rabbitmq:
    host: 127.0.0.1
    port: 5672
    vhost: /
    user: adrian
    passwd: gwh28

tasks:
    interval: 0.1